.header{
  background-color: blue;/*The header starts here*/
  position: absolute;
  height: 100%;
  width: 100%;
}
.welcome{
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
}
.button{
  text-align: center;
  margin-top: 50px;
}
